/template-parts
/languages
/js
/inc
/app/debug
/app/depricated
/app/tools
/app/export_predictions

/vendor/composer/InstalledVersions.php
/vendor/composer/autoload_files.php
/vendor/composer/installed.json
/vendor/composer/installed.php
/vendor/doctrine/
/vendor/myclabs/
/vendor/nikic/
/vendor/phar-io/
/vendor/phpunit/
/vendor/sebastian/
/vendor/theseer/


/vendor/bin/

/vendor/composer/autoload_classmap.php
/vendor/composer/autoload_psr4.php
/vendor/composer/autoload_real.php
/vendor/composer/autoload_static.php
